
a.event-link {
  color: #c12e0d;
}

a.event-link:hover {
  color: #c12e0d;
  text-decoration: underline;
}

.songkick-logo {
	height: 20%;
	width: 20%;
	text-align: center;
}

th, td {
	text-align: left;
}