	.main-artist-image {
	   margin: 1em 0 0 0;
	   height: 200px;
	   width: 200px;
	   border-radius: 5px 75px 5px;
	}
	
	.main-artist-container {
	   margin: 0em auto 1em auto;
	   text-align: center;
	   padding: 0;
	}

	.artist-header {
   margin-top: 1.5em;
}


