   .similar-artists-container {
      text-align: center;
      margin: 3em auto 3em auto;
      padding: 0;
      float: left;
   }
   
   .similar-artist-img {
      width: 90%;
      height: 90%;
      margin: 0 auto .55em auto;
      border-radius: 100px;
   }
   
