.well {
	padding: 0px;
	text-align:center;
	color: black;
	margin: 4.75em 0 4em 0;
	background-color: white;
	border-radius: 1em;
}

.sidebar {
	position: relative;
	width: 17%;
	padding: 0 0 0 0px;
	margin: 0 2em 0 2em;
	float: left;
}

.tweetListContainer {
	color: black;
	border-top: 1 px solid #cccccc;
}

.twitter-img {

	margin: .5em 0 .6em 0;
	max-height: 18px
}

/*.tweetList {
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 0;
	bottom: 0;
	height: 1000px;
}*/

.timeline-Body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
		border-radius:5px;
}

.timeline-Body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #aaaaaa;
		border-radius:5px;
}

.timeline-Body::-webkit-scrollbar-corner {
		padding: 10px 0 10px 0;
		border-radius:5px;
}



.tweetEntry {
	list-style-type: none;
	text-align: left;
	border-top: 1px solid #cccccc;
	padding: 3px 0 3px 0;
}

.twitterUsername {
	font-size: 12pt;
}

.tweetText {
	padding: 0 7px 0 7px;
	font-size: 10pt;
}
