	.main-artist-image {
	   margin: 5em 0 0 0;
	   height: 200px;
	   width: 200px;
	   border-radius: 100px;
	}
	
	.main-artist-container {
	   margin: 0 auto 1.5em auto;
	   padding: 0;
	}
	
	h3 {
	   margin: .25em auto;
	}
	
	body {
	   /*background-image: url('EQ-BG.jpg');*/
	   background-color: black;
	   color: white;
	   background-size: cover;
	}
