	.main-artist-image {
	   margin: 5em 0 0 0;
	   height: 200px;
	   width: 200px;
	   border-radius: 100px;
	}
	
	.main-artist-container {
	   margin: 3em auto 3em auto;
	   text-align: center;
	   padding: 0;
	}


