   .similar-artists-container {
      text-align: center;
      margin: 1.5em auto auto auto;
      padding: 0;
      float: left;
   }
   
   .similar-artist-img {
      width: 130px;
      height: 130px;
      margin: 0 auto;
      border-radius: 100px;
   }
   
   .card {
      text-align: center;
      display: inline-block;
      background-color: transparent;
      border: 0;
   }