   h3 {
      margin: .25em auto;
   } 
   .grid-content-container {
   margin: 1% 3.25% 2em 3.25%;
      display: inline;
   }
   
   .similar-artists-container {
      text-align: center;
      margin: 1.5em auto 5em auto;
      padding: 0;
   }
   
   .similar-artist-img {
      width: 125px;
      height: 125px;
      margin: 0 auto;
   }
   
   .card {
      text-align: center;
      display: inline-block;
      background-color: black;
   }