.grid-content-container {
   margin: 1% 2.25% 0 2.25%;
   display: inline;
}

.top-songs-container {
   text-align: center;
   margin: .5em auto;
   padding: 0;
   float: left;
}

.top-song-img {
   width: 15px;
   height: 15px;
   margin: 0 auto;
   border-radius: 10px;
}

.card {
   text-align: center;
   display: inline-block;
}

.stream-link {
   margin: 1em auto;
display: block;
background-color: black;
}