

.navbar {
   border-radius: 0;
}

.navbar-header {
   height: 4em;
   width: 100%;
   z-index: 9999;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #0C212B;
   border-bottom: 1px solid #007bff;
}

.navbar-icon {
   z-index: 9999;
   width: 112px;
   float: left;
}

.form-inline {
   margin: 1em 1em;
   color: black;
   float: right;
}

.btn-default {
   margin: 0 0 0 1em;
}

input {
   padding: 0 .5em 0 .5em;
}
