.artist-img {
   margin: 1em 0 0 0;
   width: 100%;
   border-radius: 100px;
}

.favorite-artists-container {
   text-align: center;
   margin: 0 auto 5em auto;
   padding: 0;
}

.gridC-content-container {
  text-align: center;
}

.artist-img-label {
  font-size: 20px;
  margin-top: 10px;
}

.artist-list {
  border: 0;
}
